body{
	background-color: #EEE;
	margin: auto;
	width: 1000px;
	font-family: 'Alfa Slab One', cursive;
}

li{
	/*image remplaçant les puces*/
	list-style-image: url(images/animal-monkey.png);
}