html{
	background-color: #FFF;
}

body, div, p{
    /* centrage automatique à droite et à gauche à la fenêtre principale */
    margin: auto; 
}

body{
	font-family: 'Kaushan Script', cursive;
	background-color: #DDD;
	width: 800px;
	height: 600px;
    border: 5px dotted rgb(14, 219, 100);
    margin-top: 25px;
    border-style: solid;
    border-width: 260px 0px 258px 585px;
    -moz-border-image: url(images/sky.png) 300 327 0 607 round repeat;
    -webkit-border-image: url(images/sky.png) 300 327 0 607 round repeat;
    -o-border-image: url(images/sky.png) 300 327 0 607 round repeat;
    border-image: url(images/sky.png) 300 327 0 607 round repeat;
    }

div{
	background-color: #888;
	min-width: 600px; /*avec min-width on ne peut pas rétrécir la fenêtre jusqu'à une certaine taille*/
	height: 500px;
	padding-left: 50px; /*marge intérieure gauche*/
	margin:  20px; /*marge externe sur tous les contours*/
    margin-top: 25px;
    margin-bottom: 25px;
}

P{
	text-align: justify;
	background-color: rgb(199, 111, 111);
	width: 400px;
	height: 400px;
	padding: 25px;  /*marge intérieure sur tous les contours (haut, droite, bas et gauche)*/
	overflow-wrap: break-word;
}
